# docker-compose options

REDIS_URL=redis://redis:6379/0

# Replace with `development` for, well, development
RAILS_ENV=production

# Replace with a random Postgres password
# Don't overthink this, Postgres is not available outside of Docker anyway
POSTGRES_PASSWORD=changeme

# Add a secure secret generated with `rake secret`
# use `:.! rake secret` in vim
SECRET_KEY_BASE=

# For Steam login
# Get yours here: https://steamcommunity.com/dev/apikey
STEAM_WEB_API_KEY=

# The SteamID3 ([U:1:000000] format) of the user who will be designated as the
# owner of the instance. The owner always has full permissions regardless of
# their role.
OWNER_STEAMID=
