---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/ISteamUser/ResolveVanityURL/v1?key=<API KEY>&vanityurl=staplestabler
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"steamid":"76561198054979849","success":1}}'
  recorded_at: Sun, 22 Aug 2021 11:56:26 GMT
recorded_with: VCR 6.0.0
