@import '~bootstrap-dark-5/dist/css/bootstrap-dark';

$team-red: #B8383B;
$team-blu: #5885A2;
$team-spec: #AAAAAA;

span.team-colored {
  font-weight: bold;
}

span.team-red {
  color: $team-red;
}

span.team-blu {
  color: $team-blu;
}

span.team-spec {
  color: $team-spec;
}

.font-smaller {
  font-size: 0.8rem;
}

.alert-notification {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 420px) {
  .alert-notification {
    max-width: 80vw;
  }
}

@media only screen and (min-width: 420px) {
  .alert-notification {
    max-width: 400px;
  }
}

.form-control-color {
  width: 3rem;
}
