@import "bootstrap";
// @import '~bootstrap-dark-5/dist/css/bootstrap-dark';

$team-red: #B8383B;
$team-blu: #5885A2;
$team-spec: #AAAAAA;

span.team-colored {
  font-weight: bold;
}

span.team-red {
  color: $team-red;
}

span.team-blu {
  color: $team-blu;
}

span.team-spec {
  color: $team-spec;
}

.font-smaller {
  font-size: 0.8rem;
}

.alert-notification {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 420px) {
  .alert-notification {
    max-width: 80vw;
  }
}

@media only screen and (min-width: 420px) {
  .alert-notification {
    max-width: 400px;
  }
}

.form-control-color {
  width: 3rem;
}

.icon-column {
  display: inline-block;
  width: 1.5em;
}

.slide-out-bottom {
	animation: slide-out-bottom 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530)  both;
}

.slide-in-top {
	animation: slide-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
